*{
    box-sizing: border-box;
}

body{
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    background-size:cover;
    position:absolute;
    background-color:rgb(146, 141, 141);
    width:100%;
}

figure img{
    border-radius: 300%;
    display: flex;
    margin-left: 35%;
    text-align: center;
}


ul{
    list-style-type: none;
}

nav li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color:#FFFFFF;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2) ;
    padding:0px 5%;
}

nav ul li:active{
    transform:scale(1.1)
}

nav ul{
    display: flex;
}

nav ul li a{
    margin:30px;
    font-family: 'Arial Narrow Bold', sans-serif;
    color:#505050;
    font-size:15px;
    font-weight: 700;
}

main {
    display: flex;
    flex-wrap: wrap;
  }

.header{
    justify-content: space-evenly;
    margin: 30px;
}


.header h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight:bold;
    color:black;
    font-size: 50px;
    text-align: center;
}
.header P:nth-child(2){
    color:#403e3e;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 5px;
    text-align: center;
    
}
.header P:nth-child(3){
    font-family:calibri;
    color:#403e3e;
    font-size:40px;
    line-height: 30px;
    text-align: center;
}

.header p{
    line-height: 0px;
    margin:45px 0px 25px;
}
.header button{
    width: 130px;
    height:25px;
    border-Radius:10px;
    font-family: calibri;
    font-weight:bold;
    font-size:14px;
    outline:none;
    margin:0px 10px;
    text-align: center;
    margin-left: 47%;
}
.download{
    background-color:#0b0b0b;
    color:#FFF;
    border:none;
}

button:active{
    transform:scale(1.1)
}

main{
    display: flex;
    flex-wrap: wrap;
}


aside {
    flex: 90;
    padding: 0px;
    text-align: center;
    position: relative;

  }

